body {
  background-color: #191414;
}

.nav-background {
  background: #252525;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
}

.nav-buttons {
  height: 50px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.button-back {
  background: #333333;
}

.button-label {
  color: #FFFFFF;
}

.website-name {
  background-color: #556462;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
}

.website-text p {
  color: #DDDDDD;
}

.website-text h1,
.website-text h2,
.website-text h3,
.website-text h4,
.website-text h5,
.website-text h6 {
  color: #FFFFFF;
}


.content-with-image .text-content::before {
  background-color: #333333;
}


main,
footer {
  color: #DDDDDD;
}