body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.settings-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }

  .settings-container h2 {
    margin-bottom: 20px;
  }

  .settings-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
  }

  .settings-form label {
    font-weight: bold;
  }

  .settings-form input[type="text"],
  .settings-form input[type="email"],
  .settings-form input[type="tel"],
  .settings-form input[type="password"] {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    border: none;
    
  }

  .delete-account-button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 auto;
  }

  .save-button {
    background-color: #0afd3b;
    color: #f7f3f3;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 auto;
  }

  .log-out-button{
    background-color: #8e8282;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 auto;
  }

  .vertical-carousel {
    overflow: auto;
    height: 400px;
    width: 100%; 
  }

  .carousel-inner {
    display: block;
    width: auto; 
  }

  .carousel-item {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }

  .box {
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #8e8282;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .box {
    display: flex;
    height: 250px;
  }

  .box-image {
    margin-right: 20px; 
    width: auto; 
    height: 250px; 
  }

  .profile-picture {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-right: 3%;
  }

  

  