body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container-login {
  background-color: #FFFFFF;
  padding: 40px;
  width: auto;
  height: auto;
  border-radius: 28px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}


h1 {
  color: #000000;
  margin-bottom: 30px;
}

.sign-in-text {
  font-weight: 550;
  font-size: 16px;
  padding-bottom: 20px;
}

.register-text {
  font-weight: bold;
  font-size: 14px;
}


.password-group input:last-child {
  margin-left: 3%;
}

.name-group input:last-child {
  margin-left: 3%;
}

.name-group,
.password-group {
  margin: 0 auto;
}


input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  background-color: #fffafa;
  padding: 10px;
  color: #556462;
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 25px;
}

button[type="submit"] {
  background-color: #0fff95;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  width: 100%;
  height: 65px;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}


footer {
  padding-top: 3%;
  text-align: center;
}

.name-group,
.password-group {
  display: flex;
  justify-content: space-between;
}

.name-group input,
.password-group input {
  width: calc(50% - 10px);
}

.form-group {
  margin-bottom: 20px;
}

.welcome-image {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12%;
  margin-bottom: 1%;
  display: block;
}

.welcome-image img {
  width: 100%;
  height: auto;
}


.card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.card-card {
  background-color: #E9E3E3;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  position: relative;
  width: 20%;
  margin: 0 10px;
}


.card-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}


.profile-picture {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin-right: 3%;
}

.make-model-location {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.make-model {
  font-weight: bold;
  margin-bottom: 2px;
}

.make-model-location p {
  margin: 0;
  padding: 1%;
}

.card-details p {
  margin: 1% 0;
}


.location {
  font-weight: normal;
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
}


.card-details {
  text-align: left;
  padding-left: 10%;
  padding-right: 25%;
  padding-bottom: 20%;
  font-size: larger;
}

.card-button {
  background-color: #0FFF95;
  color: white;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: 25%;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}


.heart-icon {
  width: 10%;
  height: auto;
  cursor: pointer;
}

.make-model {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.location,
.seller-name {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.price {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.car-details {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.see-more-container {
  text-align: right;
  padding-right: 5%;
  margin-bottom: 1%;
}

.see-more-link {
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}